.archive {
  #timeline {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -0.06rem;
      height: 100%;
      width: 0.1rem;
      background: $text-color;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .archive-title {
    position: relative;
    margin: 2em 1em 2rem 0;
    h4 {
      margin-left: 1rem;
      margin-bottom: 0;
    }
    .task-date {
      margin-left: 1rem;
      margin-top: -0.4rem;
      &:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 20%;
        margin-left: -0.25rem;
        margin-top: 0;
        width: 8px;
        height: 8px;
        background: $text-color;
        border-radius: 50%;
      }
    }
    .milestone-date {
      margin-left: 1rem;
      margin-top: -0.4rem;
      &:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 26%;
        margin-left: -0.5rem;
        margin-top: -0.35rem;
        width: 1rem;
        height: 1rem;
        background: $yellow;
        border-radius: 50%;
        border: 1px solid $text-color;
      }
    }
  }

  .task-desc {
    margin: 1rem 1rem 5rem 2.4rem;
    text-align: justify;
    @include media-query($small-screen) {
      width: 80%;
    }
    @include media-query($medium-screen) {
      width: 60%;
    }
    h5 {
      margin: 0;
    }
    p {
      margin: 0;
    }
    ul, ol {
      padding-inline-start: 1.2rem;
      margin: 0;
    }
    .highlight-box {
      background-color: $yellow;
      border:0.1rem solid $yellow;
      padding:10px;
      text-align: center;
      width: 100%;
      font-weight: bold;
      margin: 0.4rem 0;
      @include media-query($small-screen) {
        width: 60%;
      }
      @include media-query($medium-screen) {
        width: 50%;
      }
      .caption {
        font-size: 0.6rem;
      }
    }
    .text-box {
      text-align: justify;
      ul > li {
        font-weight: normal;
        list-style-type: none;
      }
      ol {
        padding-inline-start: 1rem;
      }
      ul {
        padding-inline-start: 0;
        margin-bottom: 1rem;
      }
    }
    .float-left {
      @include media-query($medium-screen) {
        float: left;
        margin-right: 0.4rem;
        width: 48%;
      }
    }
    .float-right {
      @include media-query($medium-screen) {
        overflow:hidden;
        width: 48%;
      }
    }
    .point {
      color: $danger;
    }
    .main-text {
      font-weight: bold;
      margin: 1.2rem 0;
    }
  }
}
