/* LAYOUT CSS */
.cover {
  background-color: $yellow;
  position: fixed;
  width: 100%;
  padding: 1rem;
  z-index: 300;
  text-align: center;
  @include media-query($small-screen) {
    background-position: center;
    padding: 1rem;
  }
  @include media-query($medium-screen) {
    height: 100vh;
    position: initial;
    width: 100%;
  }
}
.cover-card {
  color: $text-color;
  margin: 0;
  @include media-query($medium-screen) {
    margin-left: 0;
    padding: 0 30px;
  }
  .avatar {
    max-width: 8rem;
    @media only screen and (max-width: $medium-screen) {
      padding: 0 0.5rem;
      float:left;
    }
    @include media-query($medium-screen) {
      margin-left: 0;
    }
  }

  .author_bio {
    display: block;
    color: $text-color;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px auto 10px 0;
    text-align: left;
    @media only screen and (max-width: $medium-screen) {
      display: none;
    }
  }
  .author_desc {
    font-size: 90%;
    display: block;
  }
  @include media-query($medium-screen) {
    margin: 0 auto;
    padding: 0 0px 80px;
  }
}
.social-links {
  position: absolute;
  bottom: 6%;
  margin-top: 0.5em;
  text-align: left;
  font-size: 1em;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      a.social-link-item {
        color: $text-color;
        &:hover,
        &:focus {
          color: lighten($text-color, 20%);
        }
      }
    }
  }
}

.toggle {
  display: block;
  float:right;
  @include media-query($medium-screen) {
    display:none;
  }
}
.nav {
  a {
    color:$text-color;
  }
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  @media only screen and (max-width: $medium-screen) {
    display: none;
  }
  .nav-item {
    & a {
      display: inline-block;
      white-space: nowrap;
      padding-top: 1.4rem;
      font-weight: 800;
      letter-spacing: 0.08em;
      line-height: 1.4rem;
      color: rgb(51, 51, 51);
      text-decoration: none;
      transition: 0.3s;
      border-bottom: 2px solid transparent;
      font-size: 1.2rem;
      &:hover,
      &:focus {
        border-bottom: 2px solid rgb(51, 51, 51);
      }
    }
    .active {
      border-bottom: 2px solid rgb(51, 51, 51);
    }
  }
}

.team {
  @include media-query($medium-screen) {
    height: 30%
  }
}

@media only screen and (max-width: $medium-screen) {
  .menu-page {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    background-color: $yellow;
    overflow-x: hidden;
    transition: 0.3s;
    #pull {
      display:none;
    }
    .close-btn {
      display: unset;
      position: absolute;
      top: -0.5rem;
      right: 0.8rem;
      font-size: 3rem;
    }
    .nav-list {
      display: block;
      margin-top: 8rem;
      text-align: center;
      padding: 0 1.4rem;
    }
  }
}
.close-btn {
  display: none;
}